.card {
  color: black;
  width: 400px;
  height: 400px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 25px black !important;
  margin-top: 10%;
  margin-left: 35%;
  background: silver !important;
}
#customer {
  align-items: center;
  margin-top: 10%;
  margin-left: 35%;
}
h2 {
  margin-top: 10%;
  margin-left: 15%;
}
select {
  background-color: rgb(176, 167, 167);
  font-size: larger;
  font-style: bold;
  font-size: medium;
  border: 5%;
  padding: 10px;
  margin: 10px 0;
}
option {
  background-color: darkgray;
  font-size: larger;
  font-style: bold;
  font-size: medium;
  margin-top: 50%;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
